<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dnn.PersonaBar.Library" version="1.1.0.67" targetFramework="net452" />
  <package id="DotNetNuke.Core" version="9.2.0.366" targetFramework="net452" />
  <package id="DotNetNuke.Instrumentation" version="9.2.0.366" targetFramework="net452" />
  <package id="DotNetNuke.Web" version="9.2.0.366" targetFramework="net452" />
  <package id="DotNetNuke.Web.Client" version="9.2.0.366" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.205111437" targetFramework="net45" />
</packages>